@media screen and (max-width: 780px) {
  footer {
    flex-direction: column;


    .logo-social {
      align-items: center;
        margin-bottom: 3rem;
      .social {
        margin-top: 2rem;
        img {
          margin-inline: 0.5rem;
        }
      }
    }

    .sections-footer {
      flex-direction: column;
      flex-wrap: nowrap;
      margin: auto;
      margin-bottom: 3rem;

      span {
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;
      }
    }

    .footer-btn-copyright {
      display: flex;
      flex-direction: column;
      align-items: center;

    }
  }
}
