@use './variables' as *;

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    z-index: 100;
    
    
    
    img{
        height: 1.3rem;
        object-fit: contain;
        margin-left: 10%;
        cursor: pointer;
    }
    
    nav{
        flex-basis: 20%;
        margin-inline: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        span{
            padding: 1.3rem .8rem;
            cursor: pointer;
            color: $grayish-blue;
            position: relative;

            &::before{
                content: '';
                background: $green-blue-grad;
                position: absolute;
                top: 100%;
                left: 50%;
                transform-origin: center;
                transform: translate(-50%,-100%);
                height: 5%;
                transition: transform .5s ease;
            }

            &:hover{
                color: black;
                &::before{
                    width: 5%;
                    transform: scaleX(20);
                }
            }
        }
    }

    button{
        max-width: 11rem;
        flex-basis: 30%;
        margin-right: auto;
        background: $green-blue-grad;
        cursor: pointer;
        border-radius: 1.5rem;
        padding: .6rem 0rem;
        border: none;
        color: white;
        font-size: 1rem;

        &:hover{
            filter: brightness(1.1);
        }
    }

}