@use './variables' as *;

.latest-articles{
margin-inline: 10%;
margin-bottom: 5rem;

h1{
    font-size: 2.5rem;
    margin-bottom: 3rem;
}


.articles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .article{
        border-radius: .4rem;
        background-color: #FFFFFF;
        width: 23%;
        overflow: hidden;

        .author{
            font-size: .6rem;
            color: $grayish-blue;
            margin-bottom: .7rem;
            margin-inline: 1.6rem;
        }
        p:nth-child(3){
            text-decoration: none;
            font-weight: 400;
            color: black;
            cursor: pointer;
            text-align: left;
            margin-inline: 1.6rem;
            &:hover{
                color: $bright-cyan;
            }
        }
        .summary{
            margin-inline: 1.6rem;
            margin-top: .7rem;
            margin-bottom: .7rem;
            color: $grayish-blue;
            font-size: .8rem;
        }

        img{
            width: 100%;
            height: 12rem;
            object-fit: cover;
            margin-bottom: 1.5rem;
        }

    }
}









}