@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Public sans' , 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: #FAFAFA;
}