@use './variables' as *;
.why-us{
    position: relative;
    transform: translateY(-40%);
    padding: 6rem 10%;
    background-color: #F4F5F7;
    z-index: -2;
    
    .why-us-title,h1:first-child{
        font-size: 2rem;
        margin-bottom: 2rem;
    }


    .why-us-desc{
        color: $grayish-blue;
        margin-bottom: 4rem;
    }


    .why-us-reasons{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        
        .reason{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
            // &:not(:first-child){
            //     margin-left: 3rem;
            // }

            img{
                margin-bottom: 1rem;
            }
            h1{
                margin-bottom: 1rem;
                font-size: 1.3rem;
                font-weight: 100;
            }
            p{
                color: $grayish-blue;
            }
        }








    }






}