@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 100;
  font-family: "Public sans", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: #FAFAFA;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(136deg, 65%, 51%);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(113, 246, 255);
}

::-webkit-scrollbar-track {
  background-color: rgb(204, 204, 204);
}

header {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  z-index: 100;
}
header img {
  height: 1.3rem;
  object-fit: contain;
  margin-left: 10%;
  cursor: pointer;
}
header i {
  display: none;
}
header nav {
  flex-basis: 20%;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header nav span {
  padding: 1.3rem 0.8rem;
  cursor: pointer;
  color: hsl(233deg, 8%, 62%);
  position: relative;
}
header nav span::before {
  content: "";
  background: linear-gradient(to right, hsl(136deg, 65%, 51%), #7FD4DF);
  position: absolute;
  top: 100%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -100%);
  height: 5%;
  transition: transform 0.5s ease;
}
header nav span:hover {
  color: black;
}
header nav span:hover::before {
  width: 5%;
  transform: scaleX(20);
}
header button {
  max-width: 11rem;
  flex-basis: 30%;
  margin-right: auto;
  background: linear-gradient(to right, hsl(136deg, 65%, 51%), #7FD4DF);
  cursor: pointer;
  border-radius: 1.5rem;
  padding: 0.6rem 0rem;
  border: none;
  color: white;
  font-size: 1rem;
}
header button:hover {
  filter: brightness(1.1);
}

.home-section {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.home-section .home-txt {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-left: 10%;
  margin-top: 3rem;
}
.home-section .home-txt h1 {
  font-size: 3rem;
  font-weight: 100;
  margin-bottom: 1.5rem;
}
.home-section .home-txt p {
  color: hsl(233deg, 8%, 62%);
  margin-bottom: 1.5rem;
}
.home-section .home-txt button {
  border: none;
  background: linear-gradient(to right, hsl(136deg, 65%, 51%), #7FD4DF);
  border-radius: 1.5rem;
  padding: 0.6rem 1.5rem;
  color: white;
  cursor: pointer;
}
.home-section .home-txt button:hover {
  filter: brightness(1.1);
}
.home-section .home-img {
  flex-basis: 50%;
  width: 100%;
  position: relative;
}
.home-section .home-img picture {
  width: 400%;
  position: absolute;
  left: 100%;
  transform: translate(-25%, -25%);
  z-index: -10;
}
.home-section .home-img .mockup-img {
  width: 100%;
  position: relative;
  left: 100%;
  transform: translate(-83%, -15%);
  z-index: -1;
}

.why-us {
  position: relative;
  transform: translateY(-40%);
  padding: 6rem 10%;
  background-color: #F4F5F7;
  z-index: -2;
}
.why-us .why-us-title, .why-us h1:first-child {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.why-us .why-us-desc {
  color: hsl(233deg, 8%, 62%);
  margin-bottom: 4rem;
}
.why-us .why-us-reasons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.why-us .why-us-reasons .reason {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.why-us .why-us-reasons .reason img {
  margin-bottom: 1rem;
}
.why-us .why-us-reasons .reason h1 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 100;
}
.why-us .why-us-reasons .reason p {
  color: hsl(233deg, 8%, 62%);
}

.latest-articles {
  margin-inline: 10%;
  margin-bottom: 5rem;
}
.latest-articles h1 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
}
.latest-articles .articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.latest-articles .articles .article {
  border-radius: 0.4rem;
  background-color: #FFFFFF;
  width: 23%;
  overflow: hidden;
}
.latest-articles .articles .article .author {
  font-size: 0.6rem;
  color: hsl(233deg, 8%, 62%);
  margin-bottom: 0.7rem;
  margin-inline: 1.6rem;
}
.latest-articles .articles .article p:nth-child(3) {
  text-decoration: none;
  font-weight: 400;
  color: black;
  cursor: pointer;
  text-align: left;
  margin-inline: 1.6rem;
}
.latest-articles .articles .article p:nth-child(3):hover {
  color: #7FD4DF;
}
.latest-articles .articles .article .summary {
  margin-inline: 1.6rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  color: hsl(233deg, 8%, 62%);
  font-size: 0.8rem;
}
.latest-articles .articles .article img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  margin-bottom: 1.5rem;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: #2D314E;
  padding: 4rem 10%;
  color: white;
  justify-content: space-between;
}
footer .logo-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .logo-social .social {
  margin-top: 3rem;
}
footer .logo-social .social img {
  margin-inline: 0.5rem;
  cursor: pointer;
}
footer .logo-social .social img:hover {
  fill: #7FD4DF;
  filter: hue-rotate(45);
}
footer .sections-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
footer .sections-footer span {
  width: 40%;
  cursor: pointer;
  font-weight: 300;
}
footer .sections-footer span:hover {
  color: #7FD4DF;
}
footer .footer-btn-copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
footer .footer-btn-copyright button {
  background: linear-gradient(to right, hsl(136deg, 65%, 51%), #7FD4DF);
  border-radius: 1.6rem;
  padding: 0.7rem 2rem;
  border: none;
  color: white;
  margin-bottom: 3rem;
  cursor: pointer;
}
footer .footer-btn-copyright button:hover {
  filter: brightness(1.1);
}
footer .footer-btn-copyright p {
  color: hsl(233deg, 8%, 62%);
}

@media screen and (max-width: 897px) {
  header img {
    margin: 1.5rem 10%;
  }
  header i {
    display: initial;
    margin: 0;
    margin-left: auto;
    margin-right: 2rem;
  }
  header nav {
    display: none;
  }
  header button {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .home-section {
    flex-direction: column-reverse;
  }
  .home-section .home-txt {
    margin: 0;
    width: 100%;
    margin-bottom: 4rem;
  }
  .home-section .home-txt h1 {
    text-align: center;
    margin-inline: auto;
  }
  .home-section .home-txt p {
    text-align: center;
    margin-inline: auto;
  }
  .home-section .home-txt button {
    text-align: center;
    margin-inline: auto;
  }
  .home-section .home-img picture {
    display: block;
    top: -50%;
    left: -20%;
    width: 10rem;
    transform: translate(0, 0);
  }
  .home-section .home-img .mockup-img {
    left: 50%;
    top: -10%;
    width: 90%;
    transform: translate(-50%, -30%);
  }
}
@media screen and (max-width: 1164px) {
  .why-us {
    transform: translateY(-10%);
  }
}
@media screen and (max-width: 941px) {
  .why-us {
    transform: translateY(0);
  }
  .why-us .why-us-title {
    text-align: center;
    margin-inline: auto;
    font-size: 3rem !important;
  }
  .why-us .why-us-desc {
    text-align: center;
    margin-inline: auto;
  }
  .why-us .why-us-desc .break {
    display: none;
  }
  .why-us .why-us-reasons {
    flex-direction: column;
    align-items: center;
  }
  .why-us .why-us-reasons .reason {
    margin: 0;
    margin-bottom: 4rem;
    align-items: center;
    width: 100%;
  }
  .why-us .why-us-reasons .reason:first-child {
    margin-left: 0;
  }
  .why-us .why-us-reasons .reason img {
    margin-inline: auto;
  }
  .why-us .why-us-reasons .reason h1 {
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;
  }
  .why-us .why-us-reasons .reason p {
    text-align: center;
    margin: auto;
  }
}
@media screen and (max-width: 960px) {
  .latest-articles h1 {
    text-align: center;
  }
  .latest-articles .articles {
    flex-direction: column;
  }
  .latest-articles .articles .article {
    width: 100%;
    margin-bottom: 3rem;
  }
  .latest-articles .articles .article img {
    height: 20rem;
    object-fit: cover;
  }
}
@media screen and (max-width: 780px) {
  footer {
    flex-direction: column;
  }
  footer .logo-social {
    align-items: center;
    margin-bottom: 3rem;
  }
  footer .logo-social .social {
    margin-top: 2rem;
  }
  footer .logo-social .social img {
    margin-inline: 0.5rem;
  }
  footer .sections-footer {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    margin-bottom: 3rem;
  }
  footer .sections-footer span {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }
  footer .footer-btn-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
